footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a7c7e7;
    padding: 20px;
}
p {
    color: blue;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a7c7e7;
    padding: 20px;
}